@use "../abstracts";

.auth {
    display: flex;
    min-height: 100vh;

    &__intro, &__content {
        flex: 1;
        padding: 0 30px;
    }

    &__intro {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &-logo, &-next {
            position: absolute;
            left: 50%;
            translate: -50%;
        }

        &-logo {
            top: 80px;
        }

        &-next {
            bottom: 50px;
        }

        &-img {
            max-width: 100%;
        }

        &-text {
            max-width: 412px;;
            text-align: center;
            margin-top: 50px;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--auth-content-bg);

        @include abstracts.screen(md) {
            position: fixed;
            inset: 0;
            z-index: 1;
            transition: translate .3s;
            overflow-y: auto;

            &.hide {
                translate: 100%;
            }
        }

        &-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: min(460px, 100%);
            padding: 50px 0;
        }
    }

    &__heading {
        margin-top: 50px;
        font-size: 3rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__desc {
        margin-top: 10px;
        padding: 0 30px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
        color: #9E9DA8;
    }

    &__form {
        margin-top: 30px;
        width: 100%;
    }

    &__link {
        color: #0071DC;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__btn-group {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 50px;
    }

    &__btn {
        width: 100%;
    }

    &__text {
        color: #9E9DA8;
        margin-top: 108px;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 144.444%;
    }
}