@use "../abstracts";

html.dark {
    --text-color: #FFFFFF;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7477%) hue-rotate(118deg) brightness(102%) contrast(86%);
    --body-bg-color: #292E39;
    --header-bg-color:#171C28;
    --top-act-group-bg-color: #292E39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.20);
    --top-act-group-separate-color: #EDEDF6;

    @include abstracts.screen(lg) {
        --header-shadow-color: rgba(0, 0, 0, 0.20);
    }

    /* Dropdown */
    --dropdown-bg-color: #2f3441;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.40);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(18%) sepia(6%) saturate(1741%) hue-rotate(186deg) brightness(98%) contrast(92%);
    --top-menu-border-color: #171C28;
    --menu-item-icon-2-color: brightness(0) saturate(100%) invert(100%) sepia(78%) saturate(660%) hue-rotate(204deg) brightness(107%) contrast(96%);

    //Sidebar
    --sidebar-bg: #292E39;
    --sidebar-shadow: box-shadow: rgba(23, 28, 40, 0.40);

    //Category Item
    --cate-item-bg: #171C28;
    --cate-item-thumb-bg: #292E39;
    --cate-item-title-color: #FFFFFF;
}