@use "../abstracts";

html {
    --text-color: #1A162E;
    --icon-color: brightness(0) saturate(100%) invert(6%) sepia(12%) saturate(5942%) hue-rotate(223deg) brightness(98%) contrast(94%);
    --body-bg-color: #F6F6F6;
    --header-bg-color: #eee;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.20);
    --top-act-group-separate-color: #EDEDF6;

    @include abstracts.screen(lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.20);
    }

    /* Dropdown */
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.40);
    --top-menu-border-color: #D2D1D6;
    
    //Sidebar
    --sidebar-bg: #fff;
    --sidebar-shadow: box-shadow: rgba(200, 200, 200, 0.40);

    //Category Item
    --cate-item-bg: #EEE;
    --cate-item-thumb-bg: #fff;
    --cate-item-title-color: #000;

    @include abstracts.screen(md) {
        --cate-item-bg: #FFF;
    }

    //Filter Button
    --filter-btn-color: #6C6C72;
    --filter-btn-bg-color: #FFF;

    //Like Button
    --like-btn-bg: #FFF;

    //Product Card
    --product-card-bg: #FFF;
    --product-card-shadow-color: rgba(237, 237, 246, 0.20);

    //Filter Form
    --filter-form-bg: #FFF;
    --filter-form-shadow: rgba(200, 200, 200, 0.40);
    --filter-form-tag-bg: #F8F8FB;

    //Footer
    --footer-bg: #FFF;
}