@use "../abstracts";    

%flexItemsCenter {
    display: flex;
    align-items: center;
}

.header {
    background: var(--header-bg-color);

    @include abstracts.breakpoint(lg) {

    }
}

.top-bar {
    @extend %flexItemsCenter;
    padding: 30px 0;

    @include abstracts.breakpoint(lg) {
        padding: 20px 0;
    }

    @include abstracts.breakpoint(sm) {
        padding: 16px 0;
        justify-content: space-between;
    }

    &__more {
        display: none;

        @include abstracts.breakpoint(lg) {
            display: block;
        }
    }
}

.navbar {
    margin-left: 144px;

    @include abstracts.breakpoint(xl) {
        margin-left: 50px;
    }

    @include abstracts.breakpoint(lg) {
        display: none;
    }

    &__list {
        display: flex;
        column-gap: 30px;
    }

    &__link {
        @extend %flexItemsCenter;
        column-gap: 6px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.47; /* 146.667% */
    }
}

.top-act {
    @extend %flexItemsCenter;
    margin-left: auto;
    column-gap: 20px;

    @include abstracts.breakpoint(sm) {
        margin-left: 0;
    }

    &__group {
        @extend %flexItemsCenter;
        justify-content: center;
        min-width: 50px;
        height: 50px;
        background: var(--top-act-group-bg-color);
        border-radius: 8px;
        box-shadow: 0 20px 60px 10px var(--top-act-group-shadow);

        @include abstracts.breakpoint(md) {
            display: none;
        }
    }

    &__group--single {
        @include abstracts.breakpoint(lg) {
            display: none;
        }
    }

    &__group--single &__btn {
        padding: 13px;
    }

    &__btn {
        @extend %flexItemsCenter;
        column-gap: 10px;
        padding: 10px 20px;
        cursor: pointer;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.47; /* 146.667% */
    }

    &__separate {
        width: 1px;
        height: 30px;
        background: var(--top-act-group-separate-color);
    }

    &__avatar {
        display: block;
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 8px;
        cursor: pointer;
    }
}