//Filter button
.filter-btn {
    display: flex;
    align-items: center;
    column-gap: 14px;

    height: 36px;
    padding: 0 14px;
    color: var(--filter-btn-color);
    background: var(--filter-btn-bg-color);
    border-radius: 6px;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 142.857%; /* 142.857% */
}

// Like Button
.like-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;

    box-shadow: 0 20px 60px rgba(124, 124, 124, 0.20);

    &:not(&--liked) &__icon--liked{
        display: none;
    }

    &--liked &__icon {
        display: none;
    }

    &__icon--liked {
        margin-top: 6px;
    }
}

//Buttons
.btn {
    height: 46px;
    padding: 0 20px;
    border-radius: 6px;
    background: #f8f8fb;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
    user-select: none;

    & + .btn {
        margin-left: 20px;
    } 

    &--text {
        background: transparent;
        font-weight: 400;
        color: #9E9DA8;
    }

    &--primary {
        background: #FFB700;
        color: #1A162E;
    }

    &--outline {
        background: transparent;
        border: 1px solid #D2D1D6;
    }

    &--rounded {
        border-radius: 99px;
    }

    &:hover {
        opacity: 0.8;
    }

    &[disabled],
    &--disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}