@use "../abstracts"; 

.cate-item {
    display: flex;
    align-items: center;
    padding: 20px 26px 20px 20px;
    gap: 20px;
    height: 100%;
    border-radius: 16px;
    background: var(--cate-item-bg);

    @include abstracts.screen(xl) {
        flex-direction: column;
    }

    @include abstracts.screen(md) {
        flex-direction: row;
    }

    &__thumb {
        width: 116px;
        height: 116px;
        object-fit: contain;
        background: var(--cate-item-thumb-bg);
        border-radius: 8px;

        @include abstracts.screen(xl) {
            width: 100%;
            height: 150px;
        }

        @include abstracts.screen(md) {
            width: 88px;
            height: 88px;
        }
    }

    &__info {
        padding-right: 20px;

        @include abstracts.screen(xxl) {
            padding-right: 0;
        }
    }

    &__title {
        color: var(--cate-item-title-color);
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 145.455%; /* 145.455% */

        @include abstracts.screen(md) {
            font-size: 1.8rem;
            line-height: 144.444%; /* 144.444% */
        }
    }

    &__desc {
        margin-top: 6px;
        font-size: 1.6rem;
        line-height: 150%; /* 150% */

        @include abstracts.screen(md) {
            font-size: 1.4rem;
            line-height: 142.857%; /* 142.857% */
        }
    }
}
