@use "../abstracts";

$error-color: #ed4337;

.form {
    &:has(:invalid) &__submit-btn {
        opacity: 0.5;
        pointer-events: none;
    }

    &__group {
        margin-top: 30px;

        @include abstracts.screen(md) {
            margin-top: 20px;
        }

        &--inline {
            display: flex;
            align-items: center;
        }
    }

    //form-group có thành phần bên trong không hợp lệ
    &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
        .form__text-input {
            border-color: $error-color;
            background: rgba($color: $error-color, $alpha: 0.1);
        }

        .form__error, .form__input-icon-error {
            display: block;
        }

        .form__input-icon {
            display: none;
        }
    }

    &__text-input {
        display: flex;
        align-items: center;

        height: 50px;
        padding: 0 12px;
        border-radius: 10px;
        border: 1.5px solid #D2D1D6;

        &:focus-within {
            border-color: #77DAE6;
        }

        @include abstracts.screen(md) {
            height: 48px;
        }
    }

    &__input {
        flex: 1;
        height: 100%;

        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        &-icon {
            width: 24px;
            height: 24px;
            margin-left: 12px;

            &-error {
                width: 24px;
                height: 24px;
                margin-left: 12px;
                display: none;
                animation: shake 0.5s;
            }
        }
        
        &::placeholder {
            color: var(--form-placeholder-color);
        }

        @include abstracts.screen(md) {
            font-size: 1.6rem;
        }
    }

    &__error {
        display: none;
        text-align: left;
        font-size: 1.5rem;
        font-weight: 500;
        margin-top: 10px;
        color: $error-color;
    }

    &__pull-right {
        margin-left: auto;
    }

    &__checkbox {
        position: relative;
        display: flex;
        align-items: center;

        &-label {
            margin-left: 29px;
            color: #9E9DA8;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;
            user-select: none;

            @include abstracts.screen(md) {
                font-size: 1.4rem;
            }
        }

        &::before, &::after {
            content: '';
            position: absolute;
        }

        &::before {
            width: 19px;
            height: 19px;
            border-radius: 5px;
            border: 1.5px solid #9E9DA8;
        }
    }

    &__checkbox:has(:checked) {
        &::before {
            background: #FFB700;
            border-color: #FFB700;
        }

        &::after {
            width: 15px;
            height: 8px;
            border: 3px solid #FFF;
            border-top: none;
            border-right: none;
            rotate: -45deg;
            left: 2px;
            top: 4px;
        }
    }
}