.message {
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    border: 1px solid;

    font-size: 1.5rem;
    font-weight: 500;
    text-align: left;

    &--success {
        background: rgba(39, 243, 117, 0.2);
        border-color: #46a05c;
    }   
}