.product-card {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    height: 100%;
    padding: 16px;
    border-radius: 20px;
    background: var(--product-card-bg);
    box-shadow: 0 20px 60px 10px var(--product-card-shadow-color);

    &__img-wrap {
        position: relative;
        padding-top: 100%;
    }

    &__thumb {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__like-btn {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    &__title, &__price, &__score {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;
    }

    &__brand {
        font-size: 15px;
        font-weight: 300;
        line-height: 146.667%; 
        color: #9E9DA8;
    }

    &__row {
        display: flex;
        align-items: center;
    }

    &__star {
        margin: 0 6px 5px auto;
    }
}