<div class="container">
    <div class="footer__inner">
        <div class="footer__left">
            <!-- Logo -->
            <a href="./" class="logo footer__logo">
                <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img">
                <h1 class="logo__title">grocerymart</h1>
            </a>

            <p class="footer__copyright">Copyright © 2022 UIHUT all rights reserved.</p>
    
            <!-- Social Media -->
            <div class="footer__socials">
                <a href="#!" class="footer__social-link">
                    <img src="./assets/icons/facebook.svg" alt="" class="footer__social-icon">
                </a>
                <a href="#!" class="footer__social-link">
                    <img src="./assets/icons/twitter.svg" alt="" class="footer__social-icon">
                </a>
                <a href="#!" class="footer__social-link">
                    <img src="./assets/icons/linkedin.svg" alt="" class="footer__social-icon">
                </a>
            </div>
        </div>
        <div class="footer__right">
            <!-- Footer Column 1 -->
            <div class="footer__col">
                <h3 class="footer__heading">About Us</h3>
                <ul>
                    <li class="footer__item"><a href="#!" class="footer__link">Freshly roasted, 100% pure coffee</a></li>
                    <li class="footer__item"><a href="#!" class="footer__link">Ethically sourced & quality guaranteed</a></li>
                    <li class="footer__item"><a href="#!" class="footer__link">Fast and reliable nationwide delivery</a></li>
                </ul>
            </div>
            <!-- Footer Column 2 -->
            <div class="footer__col">
                <h3 class="footer__heading">Products</h3>
                <ul>
                    <li class="footer__item"><a href="#!" class="footer__link">Coffee Beans</a></li>
                    <li class="footer__item"><a href="#!" class="footer__link">Ground Coffee</a></li>
                    <li class="footer__item"><a href="#!" class="footer__link">Drip & Phin Coffee</a></li>
                    <li class="footer__item"><a href="#!" class="footer__link">Cold Brew Coffee</a></li>
                    <li class="footer__item"><a href="#!" class="footer__link">Coffee Brewing Accessories</a></li>
                </ul>
            </div>
            <!-- Footer Column 3 -->
            <div class="footer__col">
                <h3 class="footer__heading">Customer Support</h3>
                <ul>
                    <li class="footer__item"><a href="#!" class="footer__link">How to Buy</a></li>
                    <li class="footer__item"><a href="#!" class="footer__link">Shipping Policy</a></li>
                    <li class="footer__item"><a href="#!" class="footer__link">Return & Refund Policy</a></li>
                    <li class="footer__item"><a href="#!" class="footer__link">Frequently Asked Questions (FAQ)</a></li>
                    <li class="footer__item"><a href="#!" class="footer__link">Contact Us</a></li>
                </ul>
            </div>
            <!-- Footer Column 4 -->
            <div class="footer__col">
                <h3 class="footer__heading">Contact Information</h3>
                <ul>
                    <li class="footer__item"><span>Address:</span> 123 Coffee Street, District 1, Ho Chi Minh City, Vietnam</li>
                    <li class="footer__item"><span>Hotline:</span> +84 909 123 456</li>
                    <li class="footer__item"><span>Email:</span> support@grocerymartcoffee.vn</li>
                    <li class="footer__item"><span>Opening Hours:</span> 7:00 AM – 10:00 PM (Mon – Sun)</li>
                </ul>
            </div>
        </div>
</div>